@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  background-color : #f6f9fc;
  color: #583d72;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: #9f5f80;
}

h2 {
  color: #ff8e71;
}

img {
  border-radius: 50%;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.btn-blue {
  background-color : #5c67e1;
  color: white;
  border-radius: 4px;
  padding: 16px 24px;
  border: 1px solid transparent;
  font-weight: 500;
}

.btn-blue:hover {
  background-color: #9e5f80;
  border: 1px solid #9e5f80;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline li {
  display: inline;
}

.card-white {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,.1);
  padding: 40px;
  margin: 24px auto;
}

.text-center {
  text-align: center;
}

.list-inline i {
  color: #9f5f80;
  font-size: 54px;
  padding: 0 8px;
}

.list-inline i:hover {
  color: #5c67e0;
}

#introduction {
  margin-bottom: 40px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 380px;
  }
}
